// Copyright (C) 2024 Genome Research Ltd.

// Config inheritance options
params {
    generic_config_base = "https://raw.githubusercontent.com/sanger-pathogens/nextflow-commons/"
    generic_config_version = "master"
    generic_config_url = ""
}
inherit_generic_config()

manifest {
    name            = "Multiple-mappings-to-bam"
    author          = 'PAM Informatics'
    homePage        = 'https://gitlab.internal.sanger.ac.uk/sanger-pathogens/pipelines/multiple-mappings-to-bam'
    description     = 'This project is part of the Google Summer of Code 2024 program. It provides a Nextflow-based pipeline for processing DNA sequences and generating BAM files. The pipeline supports multiple mapping tools and various configurations to suit different research needs.'
    mainScript      = 'main.nf'
    nextflowVersion = '>=21.04.0'
    version         = 'v0.0.1'
    recurseSubmodules = true
}

params {
    // Logging options
    monochrome_logs = false
    
    // Output options
    outdir = "./results"

    //mm2b options
    read_dir = ""
    ref = ""
    program = "BWA"
    domapping = true // currently not in use; keep defined to allow for potential future expansion of the pipeline to include other steps
    human = false
    maxinsertsize = 1000
    mininsertsize = 50
    ssahaquality = 30
    allow_multimapping = false
    nomapid = 0
    GATK = true
    markdup = true
    detectOverlaps = false
    pseudosequence = true
    incref = true // currently not in use; keep defined to allow for potential future expansion of the pipeline to include other steps
    indels = true //not used
    quality = 50
    mapq = 20
    depth = 8
    stranddepth = 3
    dontuseanomolous = false
    BAQ = false
    circular = true
    ratio = 0.8
    prior = 0.001
    call = "c"
    embl = ""
    filter = 1
    tabfile = false
    alnfile = false
    raxml = false
    bootstrap = 100
    outdir = "results"
}


// Helper functions
def inherit_generic_config() {
    config_url = params.generic_config_url ? params.generic_config_url : "${params.generic_config_base}/${params.generic_config_version}/configs/nextflow.config"
    try {
        includeConfig "${config_url}"
    } catch (Exception e) {
        System.err.println("ERROR: Could not load generic config: ${config_url}")
        System.err.println("Encountered the following exception:")
        throw e
    }
}